<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <add key="client-id" value ="2620b4d6-630f-4951-869a-3f00c66ccd83" />
  <add key="client-secret" value ="RlhpodZBgYvSvZEJZDbvMuBGM" />
</configuration>