
@{

    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Get Device Data", "GetDeviceData", "Nest", new { accessToken = ViewBag.AccessToken } , null) <br />
@Html.ActionLink("Get Thermostats Data", "GetThermostatData", "Nest", new { accessToken = ViewBag.AccessToken }, null) <br />
@Html.ActionLink("Get Camera Data", "GetCameraData", "Nest", new { accessToken = ViewBag.AccessToken }, null) <br />
@Html.ActionLink("Get Smoke Alarm Data", "GetSmokeAlarmData", "Nest", new { accessToken = ViewBag.AccessToken }, null) <br />



