<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <appSettings>
    <add key="client-id" value="enter your client id" />
    <add key="client-secret" value ="enter you client secret" />
  </appSettings>

</configuration>