
@{
    ViewBag.Title = "BusinessDashboard";
}

<h2 style="margin-bottom: 40px; margin-left: 10px;">@Html.Raw(ViewBag.Title)</h2>

<div style="border-right: 1px solid black;" class="col-sm-8">
    <img style="width: 100%;" src="~/images/sales.PNG" />
    <div>
        <div class="col-sm-6">
            <h2> Top Product</h2>
            <p> Your top product this month was the 20 Watt Bulb. </p>
            <p> Usage 20 Watt Bulb have increased by 20% this month. </p>
            <p> 20 Watt Bulb represents 15% of our users "Smart Bulbs". </p>
        </div>
        <div class="col-sm-6">
            <h2> Bottom Product </h2>
            <p> Your bottom product was the Lock. </p>
            <p> Lock users has decreased by 10% this month. </p>
            <p> Lock represents 5% of our users "Smart Locks" </p>
        </div>
        <div style="clear: both;" class="col-sm-12">
            <h2> Other Insights </h2>
            <p> 75% of our users use your "Smart Coffee Machine" </p>
            <p> 50% of our users have a "Smart" Coffee Machines</p>
        </div>
    </div>
</div>
<div style="padding-left:20px;" class="col-sm-4">
    <h2><a href="@Url.Action("Data", "Accounts")">Devices </a> </h2>
    <div class="col-sm-12">
        <h3> Light Products </h3>
        <ul>
            <li> 20 Watt Bulb </li>
            <li> Colorful Bulb</li>
            <li> Ceiling Unit </li>
            <li> Bathroom Light </li>
        </ul>
        <h3> Heating Products </h3>
        <ul>
            <li> Single Room Thermostat</li>
            <li> Total Control Thermostat </li>
        </ul>
        <h3> Other Products </h3>
        <ul>
            <li> Coffee Machine </li>
            <li> Camera </li>
            <li> Lock </li>
        </ul>
    </div>
</div>


