
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirm Email</h2>

@ViewBag.Message
<br />
Click @Html.ActionLink("HERE", "Login", "Accounts") to log in.