@{
    ViewBag.Title = "Data";
}

<h1>Dashboard<h1>
        <h2>December 11, 2015<h2>

                <h2>Devices currently online: 75</h2>
                <p>Lights: 24</p>
                <p>Coffee Machines: 1</p>
                <p>Refrigerators: 2</p>
                <p>Thermostats: 7</p>
                <p>Smoke Detectors: 6</p>
                <p>Security Cameras: 4</p>
                <p>Door Locks: </p>
                <p>... Click for more ...</p>


                <h2>Electricity Consumption</h2>
                <h2>Water Consumption</h2>
                <h2>Natural Gas Consumption</h2>


                <h2>Scheduled Events</h2>
                <p>Coffee Machine: Daily 7 AM On.</p>
                <p>Lights: Daily 10 PM Off.</p>
                <p>Thermostats 4, 5 Daily Auto-on 26 degrees</p>
                <p>...<p>

                <p>7:45 AM Front Door Auto-lock engaged.</p>
                <p>7:04 AM Coffee Machine Auto-off.</p>
                <p>6:30 AM Kitchen Light Auto-on.</p>
                <p>6:00 AM Thermostats 4, 5 Auto-on 26 degrees.</p>
                <p>... Monitor More Recent Events ...</p>

                <h2>Integration with Suppliers</h2>
                <p>Grocery Deliveries</p>
                <p>Cleaning Supplies</p>


