
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Accounts"))
{
    <label for="email">Enter your email: </label>
    <input type="text" name="email" />
    <input type="submit" value="Submit" />
}
@Html.Raw(ViewBag.FakeEmailMessage)
