@{
    ViewBag.Title = "Insights";
}

<h2>Insights</h2>

    <ul>
        <li>Household Electrical Usage is 7% higher than it was at this point last year.</li>
        <li>Connected Smart Devices account for 34% of total electrical use.</li>
        <li>Possible Break-in: Front Door was accessed at 2:45 AM Saturday morning.</li>
        <li>Grocery Delivery of the following items is scheduled to be delivered Wednesday.</li>
        <li>Smoke Detector 5 failed to initialize on Thursday, December 11, 2015 at 11:16 AM.</li>
        <li>Security Cameras detected unregistered person Wednesday, December 10. See recording.</li>
        <li>View Household Television usage patterns</li>
        <li>View Household Internet Radio usage patterns</li>
        <li>Solar Panel #2 has produces 18% more electricity this year. View all Solar Panel stats.</li>
        <li>Morning alarm was set to "on" 251 days so far this year. View Alarm Clock stats.</li>
        <li>The washing machine has used 2567 litres of water this year</li>
    <ul>
