@model AJKM_phase1.ViewModels.RegisteredUser

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ScrollTheme.cshtml";
}

@section Styles {
    <style>
        .body-content {
            background-image: url('../../images/man-coffee-cup-pen.jpg');
            color: silver;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
<link href="~/Content/customStyles/RegisterForm.css" rel="stylesheet" />
}

<div class="container clearfix">
    <div class="col-sm-6 opac-black">
        @Html.Partial("Partials/RegisterForm")
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
