
@{
    ViewBag.Title = "RegisterDevices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RegisterDevices</h2>

<p> Enter in your login inforamtion for the provider's account and we will get a list
    of your registered devices. </p>

@{
    Html.RenderPartial("Partials/Login");
}


