
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>


<p>With the proliferation Wi-Fi connected devices in our homes it's becoming increasingly difficult to monitor and manage all your various smart locks, lights, thermostats, etc. With Jarvis we simplify the use of multiple smart devices by giving you a single, easy-to-use, cross-platform interface that enables you to quickly see what's going on and to remotely change the settings of all your smart devices with just a few clicks.</p>

<br />

    <h3>What can Jarvis do?</h3>

    <p>With Jarvis you can schedule events and access the settings of all your internet-connected appliances from the other side of the world. View and edit your various devices' scheduled events remotely by highlighting all affected accessories and choosing the new setting. Jarvis makes home automation available to virtually any homeowner.</p>

<br />

    <h3>How can Jarvis help you?</h3>

    <p>But Jarvis is more than just a single platform for monitoring and configuring all your smart devices. Having all your connected devices in a single interface also enables you to get all the diverse feedback they generate in a single dashboard. Get data on how the performance of your devices compares to similar households and how you could be saving energy and possibly making your home even more efficient. Jarvis fully integrates with your BC Hydro, Terasen Gas, and all municipal smart metering systems to get a complete picture of your house's diagnostics.</p>
