
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>

<h3>Who is Jarvis?</h3>
<p>Jarvis is...</p>
<h3>What can Jarvis do?</h3>
<p>Jarvis can...</p>
<h3>How can Jarvis help you?</h3>
<p>Jarvis helps by...</p>
<h3>Why you should use Jarvis</h3>
<p>Jarvis ftw.</p>