
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Support</h2>

<div class="row">
    <div class="col-sm-6">
        <h2><a href="@Url.Action("FAQ", "Home")">FAQ</a></h2>
        <p>General FAQs about Jarvis.</p>
    </div>
    <div class="col-sm-6">
        <h2><a href="@Url.Action("Contact", "Home")">Contact Us</a></h2>
        <p>Can't find the answer you were looking for?</p>
    </div>
</div>